body {
    padding: 0;
    margin: 0;
    height: 100%;

    background-color: black;
    color: #E0CCD1;
}

#bg {

    mix-blend-mode: difference;

    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.middle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    font-size: 50px;

}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.contain-item-l {
    margin: 50px 0 50px 0;
    max-width: 50%;
}

.contain-item-m {
    margin: 30px 0 30px 0;
    max-width: 50%;
}

.head-text {
    font-size: 4rem;
    letter-spacing: 4px;
}

.marquee-bar {

    writing-mode: tb-rl;
    transform: rotate(180deg);
    height: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee-bar .text-m-1 {
    animation: marquee 25s linear infinite;
    overflow: hidden;
    display: inline-block;
}

.text-m-2 {
    animation: marquee 25s linear infinite;
    overflow: hidden;
    display: inline-block;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -100%); }
}

.marquee-container {
    position: absolute;
}


